@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-mono: 'Roboto Mono', monospace;
  --font-display: 'DM Serif Display', serif;
}

* {
  font-family: var(--font-mono);
}

h1 {
  font-family: var(--font-display);
  letter-spacing: 0.2rem;
}
